# Ignore .env
.env

# Ignore local Python environment folder (if not already ignored)
my-venv/
venv

# You can add other ignore patterns as needed
*.pyc
__pycache__/

# Ignore .gradio
.gradio/

#ignore firebase files
/frontend/src/firebase/firebaseConfig.js