# Core dependencies
fastapi
uvicorn
python-dotenv
pydantic

# PDF processing
pdfminer.six
python-multipart

# HTTP and async
aiohttp
httpx

# Caching
cachetools

# LangChain and AI libraries
langchain
langchain-core
langchain-google-genai
google-generativeai
openai

# Utility libraries
gradio
tenacity
numpy
pandas

# Typing and development
typing-extensions

#UI

# Search
rapidfuzz

#Voice2Text
google-cloud-speech>=2.33.0
google-cloud-texttospeech>=2.27.0
google-auth>=2.14.1
google-api-core>=1.34.1
pyaudio>=0.2.14
six